In [30]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="customer"
)

# Function to retrieve customer data from MySQL
def retrieve_customer_data(customer_id):
    cursor = conn.cursor(dictionary=False)
    query = "SELECT CreditScore , Gender, Age, Balance, IsActiveMember,EstimatedSalary, Complain FROM bank WHERE CustomerId = %s"
    cursor.execute(query, (customer_id,))
    customer_data = cursor.fetchone()
    cursor.close()
    return customer_data

In [31]:
var=15634602
customer_data=retrieve_customer_data(15634602)
print(customer_data)

(619, 0, 42, 0.0, 1, 101348.88, 1)

In [32]:
variable=np.array(customer_data)

In [33]:
import pickle

preprocess=pickle.load(open("preprocessing_model.pkl","rb"))

In [34]:
import pandas as pd

In [35]:
preprocess=pickle.load(open("preprocessing_model.pkl","rb"))
new_var=pd.DataFrame(variable).T
cols=['CreditScore', 'Gender', 'Age', 'Balance', 'IsActiveMember',
       'EstimatedSalary', 'Complain']
new_var.columns=cols
preprocess.transform(new_var)

In [36]:
cols=['CreditScore', 'Gender', 'Age', 'Balance', 'IsActiveMember',
       'EstimatedSalary', 'Complain']

In [37]:
new_var.columns=cols

In [38]:
new_var

,CreditScore,Gender,Age,Balance,IsActiveMember,EstimatedSalary,Complain
0,619.0,0.0,42.0,0.0,1.0,101348.88,1.0

In [39]:
preprocess.transform(new_var)

array([[0.538     , 0.        , 0.32432432, 0.        , 1.        ,
        0.50673489, 1.        ]])